*{
    margin: 0;
    padding: 0;
}
html, body {
    overflow-x: hidden; 
    width: 100%;
}
.titles{
    display: flex;
    font-size: 33px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.header{
    width: 100%;
    height: 160px;
    background-color: #001300;
}
.title{
    color: orange;
    margin-right: 10px;
}
.secondTitle{
    color: white;
}
.info{
    margin-left: 240px;
}
.slogan{
    left: 70px;
    top: 20px;
    color: white;
    position: relative;
}
nav ul{
    display: flex;
    flex-wrap: wrap; 
}
nav ul li{
    list-style: none;
   padding-right: 10px;
    padding-bottom: 40px;
    
}
nav ul li a{
    text-decoration: none;
    font-size: 1.1em;
    background-color:rgb(121, 192, 15);
    border: 1px solid rgb(121, 192, 15);
    border-bottom-left-radius: 0.5em;
    border-width:8px ;
    font-weight:bolder;
    color: aliceblue;
}
nav ul li a.active{
    color: rgb(208, 85, 85);
  } 
  #home{
    background-color:rgb(221, 109, 69);
    border: 1px solid rgb(221, 109, 69);
    border-width:8px ;
    border-bottom-left-radius: 0.5em;
}
    .content{
        display: flex;
        margin-left: 240px;
        margin-right: 150px;
    }
    .middle{
        margin-left: 50px;
        margin-right: 50px;
    }
    h2{
        color:  #A0D600;
    }
    .Lorem{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .secondcontent{
        display: flex;
        margin-left: 240px;
        margin-right: 150px;
    }
    .templet{
        width: 500px;
        margin-top: 30px;
    }
    .templett{
        width: 290px;
        margin-top: 30px;
    }
    .forthitem{
        margin-left: 20px;
    }
    .menu{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footerone{
        height: 300px;
        width: 100%;
        background-color:  #001300;
        color: white;
    }
    .subfooter{
        margin-left: 240px;
        margin-right: 150px; 
        display: flex;
    }
    .copy {
        display: flex;
        margin-left: 240px;
       
    }
    .links {
        display: flex;
        margin-left: 1000px;
        color: white;
        position: relative;
        bottom: 20px;
    }
    a{
        color: #A0D600;
    }
    .last{
        background-color: black;
        color: white;
        height: 50px;
    }
    .owner{
        margin-top: 20px;
    }
    .Gallery{
        display: flex;
    }
    .Image{
        margin-top: 15px;
    }
    .first{
        margin-top: 20px;
    }
    .middleimage{
        margin-left: 10px;
        margin-right: 10px;
    }
    .templet3{
        margin-top: 20px;
        width: 1000px;
    }
    
    .aboutimage{
        height: 50px;
    }
     .beforelink{
        position: relative;
        bottom: 60px;
        left: 70px;
     }
     .secondparagraph{
        position: relative;
        bottom: 60px;
     }
     .abouts{
        margin-left: 90px;
        margin-right: 80px;
        margin-top: 20px;
    }
    .htwo{
        margin-bottom: 20px;
    }
    .top{
        margin-bottom: 20px;
    }
    .sponsor{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .dolor{
        width: 270px;
        margin-bottom: 20px;
    }
    .read{
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .more{
        color: orange;
    }
    .phone{
        margin-top: 20px;
    }
    ul{
        list-style-type: none;
    }
    li a{
        text-decoration: none;
        color: white;
        list-style-type: none;
    }
    li a:hover {
        color: #A0D600;          
    }
    .middleelement{
        margin-right: 20px;
        margin-left: 20px;
    }